<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div align="center">
    <h2>Edit user</h2>
    <form action="#" th:action="@{/admin/edit}" method="post" th:object="${editable_user}">
        <input type="hidden" th:field="*{id}">

        <label>Userame:</label>
        <input type="text" th:field="*{username}" />
        <br><br>

        <label>Password:</label>
        <input type="text" th:field="*{password}" />
        <br><br>

        <label>E-mail:</label>
        <input type="text" th:field="*{email}" />
        <br><br>

        <label>Enabled:</label>
        <input type="checkbox" th:field="*{enabled}" th:checked="*{enabled}"/>
        <br><br>

        <label>Roles:</label>
        <div th:each="role : ${roles_list}">
            <span th:text="${role}"></span>
            <input type="checkbox" th:field="*{authorities}" th:value="${role}" th:checked="${editable_user.getAuthorities().contains(role)}"/>
        </div>
        <br><br>



        <button type="submit">Save changes</button>
    </form>
</div>
</body>
</html>