<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome spring boot security page!</h1>
<label>Userame:</label>
<label type="text" th:text="${principal.username}" />
<br>
<label>Email:</label>
<label type="text" th:text="${principal.email}" />
<br>
<label>Roles:</label>
<ul>
    <li th:each="role:${principal.authorities}" th:text="${role}"></li>
</ul>
<br> <a href="/">Main page</a> <br>
<br> <a href="#" th:href="@{/logout}">Log Out</a> <br>
</body>
</html>